<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="MyCtrl1">

  
  <input type="text" value="100" ng-model="amount" />
  <input type="button" value="angular"  ng-click="createArray(angularArray)" />
  <input type="button" value="react" ng-click="createArray(reactArray)" />
  <input type="button" value="reset" ng-click="reset()" />

  <div ng-repeat="value in angularArray">
    <p>{{value.text}}</p>
  </div>

  <react-repeater>    
    <div id="reactResults"></div>
  </react-repeater>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="http://fb.me/react-0.8.0.js"></script>
  <script src="js/reactClass.js"></script>
</body>
</html>
